<%- include("./head") %>

<p id="colNameMachete" style="visibility: hidden;"><%=colName%></p>

<h4>Database: <%=dbName%></h4>
<h4>Collection: <%=colName%></h4>
<h4>Here you are latest 20 records:</h4>
<div class="container">
  <table class="table table-bordered" id="records" style="visibility: hidden;">
    <thead
      class="thead-dark"
      id="recordsTableHead"
      style="text-align: center;"
    ></thead>
    <tbody id="recordsTableBody"></tbody>
  </table>

  <div
    class="card col-10"
    style="width: max-content; margin: 0 auto; float: none; margin-top: 60px;"
  >
    <div class="card-body">
      <h4 class="card-title">
        <strong>Insert a new record into <%=colName%> collection:</strong>
      </h4>
      <h6 class="card-subtitle mb-2 text-muted" style="border-bottom: 20px;">
        Please fill next fields. To insert arrays use &#91; &#93;, for example
        &#91; item1, item2, ... &#93;
      </h6>
      <!-- It should be a form but submit button affects URL path. Remember that
        all requests will be send from fetch.js -->
      <div id="insertForm"></div>
    </div>
  </div>
</div>

<script src="/javascripts/fetch.js"></script>
<script>
  viewRecords();
</script>

<%- include("./closure") %>
