<%- include("./head") %>

<h6>Database <%= dbName %>.</h6>
<h6>Database size: <%= extraInfo.sizeOnDisk %> Bytes.</h2>
<h6>Is empty?: <%= extraInfo.empty %>.</h2>

<h6>Now, please select one of <%=dbName%>&#39;s collections:</h5>

<select name="collections" id="collectionSelection">
  <% collections.forEach( (item) => { %>
      <option onclick="showRecords()" value=<%= item.name %>> <%= item.name %></option>
  <% }) %>
  <!-- Object.keys()  -->
</select>

<script src="/javascripts/main.js"></script>

<%- include("./closure") %>