<%- include("./head.ejs") %>

<h1><%= title %></h1>
   
<select name="databases" id="databaseSelection">
  <% databases.forEach( (item) => { %>
      <option onclick="showCollections()" value=<%= item.name %>> <%= item.name %></option>
  <% }) %>
  <!-- Object.keys()  -->
</select>

<script src="./javascripts/main.js"></script>

<%- include("./closure.ejs") %>