<%- include("./head.ejs") %>

<div class="container">
  <h1 style="margin: 15px"><strong><%= title %></strong></h1>

  <p>Welcome! Please click on a database to continue:</p>
  <select name="databases" id="databaseSelection">
  <% databases.forEach( (item) => { %>
    <option onclick="showCollections()" value=<%= item.name %>> <%= item.name %></option>
    <% }) %>
    <!-- Object.keys()  -->
  </select>
</div>

<script src="./javascripts/main.js"></script>

<%- include("./closure.ejs") %>