<%- include("./head") %>

<h3>Congratulations!</h3>
<p>Record <%=record%> has been succesfully added to <%=dbName%>/<%=colName%></p>

<p>
  Go back and see <a href="#"><strong><%=colName%> records</strong></a
  >.
</p>

<%- include("./closure.ejs") %>
